extends layout
block content
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet')
  .jumbotron
    .container
      h1 Caracas #[br]Against#[br] Humanity
      p La versión venezolana del popular juego #[a(href='http://www.cardsagainsthumanity.com' target='_blank') Cards Against Humanity].
      p Consigue tus cartas #[a(href='/caracas-against-humanity.pdf', target='_blank', class='btn btn-lg btn-warning cursor') aquí »]   
  .container
    .api.col-md-6
      h2 Ejemplo
      input(type='button', class='btn btn-danger' value='generar nueva combinación', id='generate')
      .example
        .black.card
          p#b
        .white.card
          p#w
    .api.col-md-6
      h1 API
      h3 Puedes acceder al Caracas Against Humanity API.
      table
        tr
          td GET
          td #[i /api/question] 
          td devuelve una carta negra.
        tr
          td GET 
          td #[i /api/questions] 
          td devuelve todas las cartas negras
        tr
          td GET 
          td #[i /api/answer] 
          td devuelve una carta blanca.
        tr
          td GET 
          td #[i /api/answers] 
          td devuelve todas las cartas blancas.
      h1 Instrucciones
      p Si no sabes jugar, puedes revisar #[a(target='blank' href='http://s3.amazonaws.com/cah/CAH_Rules.pdf') las instrucciones].
  .jumbotron.breathe.licencia
    .container
      img(src='img/cc.png')
      p.
        Caracas Against Humanity está basado en Cards Against Humanity y se distribuye bajo licencia #[a(href='https://creativecommons.org/licenses/by-nc-sa/2.0/'  target='_blank') Creative Commons BY-NC-SA 2.0]. “Cards Against Humanity” es una marca de  Cards Against Humanity LLC.
      p. 
        Caracas Against Humanity no es propiedad de #[a(href='http://www.cristiancaroli.com' target='_blank') Cristian E. Caroli], es propiedad de quien #[a(href='https://github.com/cris7ian/caracas-against-humanity' target='_blank') quiera colaborar]. #[em Valar Morghulis].
      
